<% if @event %>
	<% if @event.errors.any? %>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
	<% end %>
<% end %>

<form action="/events/create" method="post">
	<h3>Create Event</h3>
	Title:<input type="text" name="title"><br>
	Organizer Name:<input type="text" name="name"><br>
	Organizer Email:<input type="text" name="email"><br>
	Date:<input type="text" name="date"><br>
	<input type="submit">
</form>